<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Ville Lautanala</string>
	<key>Builder Version</key>
	<string>13605.1.33.1.2</string>
	<key>CFBundleDisplayName</key>
	<string>Refined Github</string>
	<key>CFBundleIdentifier</key>
	<string>fi.lautanala.refined-github</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>10485760</integer>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Companion Bundle Identifier</key>
	<array/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>styles.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>chrome.js</string>
				<string>browser-polyfill.min.js</string>
				<string>intersection-observer.js</string>
				<string>content.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Browser extension that simplifies the GitHub interface and adds useful features</string>
	<key>DeveloperIdentifier</key>
	<string>KETPJB4C67</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>github.com</string>
				<string>gist.github.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/lautis/refined-github/raw/latest/Update.plist</string>
	<key>Website</key>
	<string>https://github.com/lautis/refined-github-safari</string>
</dict>
</plist>
