<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>show-recently-pushed-branches</string>
		<key>Key</key>
		<string>disabledFeatures</string>
		<key>Title</key>
		<string>Disabled features</string>
		<key>Titles</key>
		<array>
			<string></string>
		</array>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
